<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>zomblog | posts</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">blog posts</h1>
        <a href="/posts/new" class="btn btn-success">new post</a>

        <!-- displays each post -->
        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <div class="card-subtitle text-muted mb-2"><%= post.createdOn.toLocaleDateString() %></div>
                    <div class="card-text mb-2"><%= post.description %></div>
                    <a class='btn btn-primary' href="posts/<%= post.slug %>">read more</a>
                    <form class="d-inline" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">delete</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>